:root {
  width: 950px;
  font-family: karla, sans-serif, arial;
}
* {
  box-sizing: border-box;
}
main {
  margin: 0;
}
a {
  text-decoration: none;
  color: initial;
}
header {
  position: relative;
  width: 97vw;
  background-color: hsl(300, 24%, 96%);
}
p:not(main > div > p, footer p) {
  opacity: 0.7;
  color: hsl(210, 10%, 33%);
}
i {
  color: hsl(179, 59%, 54%);
}
.nav {
  background-color: white;
  height: 60px;
  position: absolute;
  top: -10px;
  width: 97vw;
  padding: 0px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category {
  width: 25px;
  height: 15px;
  border-width: 2px 0px;
  border-style: solid;
  border-color: black;
  position: relative;
  box-sizing: content-box;
}
.category div span {
  width: 50%;
  display: flex;
  height: 1px;
  background-color: black;
  margin-top: 7.25px;
  transition: width 1s;
}
.category div {
  transform: rotate(180deg);
}

.category:hover div span {
  width: 100%;
}
.category:hover ul {
  display: block;
}
.nav img {
  width: 50px;
  height: 20px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 30px;
  left: -110px;
  display: none;
}
li {
  background-color: ghostwhite;
  height: 40px;
  width: 150px;
  margin: 1px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  box-sizing: border-box;
  transition: 0.3s;
  cursor: pointer;
}
li:hover {
  padding-left: 25px;
}
ul::before {
  content: "";
  position: absolute;
  top: -18px;
  right: 15px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-color: transparent transparent ghostwhite transparent;
  border-width: 10px;
}

header > div:nth-of-type(2) {
  background: url("images/landing.jpg") no-repeat center;
  background-size: cover;
  width: 97vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 19px;
}
header > div:nth-of-type(2) h1 {
  color: hsl(179, 62%, 43%);
  font-weight: bolder;
  font-size: 40px;
}
header > div:nth-of-type(2) p {
  width: 250px;
  padding-left: 10px;
}
header > div:nth-of-type(3) {
  display: flex;
  flex-direction: row;
  width: 800px;
  margin: auto;
  font-size: 15px;
  text-align: center;
  column-gap: 30px;
  height: 300px;
  align-items: center;
  justify-content: center;
  width: 97vw;
}
header > div:nth-of-type(3) div {
  width: 250px;
}

header > div:nth-of-type(3) span {
  font-size: 30px;
}

/* =======================
  ====== .services ======
  ======================= */
.services {
  width: 97vw;
  margin-top: 100px;
}
.services > p {
  font-size: 19px;
  width: fit-content;
  margin: auto;
  position: relative;
}
.services > p::before {
  content: "Services";
  font-size: 90px;
  font-weight: bold;
  color: hsl(0, 0%, 83%);
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: -78px;
  left: -50px;
}
.services > div {
  margin: 30px auto;
  width: 600px;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  border-right: 100px solid hsl(179, 100%, 13%);
  box-sizing: content-box;
}
.services img {
  width: 200px;
}
.services > div div:nth-of-type(5) {
  display: grid;
  grid-area: 1/3/3/4;
  align-self: center;
}
.services div p {
  color: rgb(140, 140, 140);
}
.services h3 {
  position: relative;
  left: -20px;
}

/* =======================
  ====== portfolio ======
  ======================= */
.portfolio {
  width: 97vw;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: ghostwhite;
}
.portfolio > p {
  font-size: 19px;
  width: fit-content;
  margin: 50px auto;
  position: relative;
}
.portfolio > p::before {
  content: "Portfolio";
  font-size: 90px;
  font-weight: bold;
  color: hsl(0, 0%, 83%);
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: -78px;
  left: -30px;
}
.portfolio img {
  width: 300px;
}
.portfolio > div {
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 20px;
  max-width: fit-content;
}
.portfolio div div {
  width: 300px;
  background-color: white;
}
.portfolio div h3,
.portfolio div p {
  margin-left: 15px;
}
/* =======================
  ======== about ========
  ======================= */
.about {
  width: 97vw;
  padding-top: 100px;
  padding-bottom: 50px;
}
.about > p {
  font-size: 19px;
  width: fit-content;
  margin: auto;
  position: relative;
}
.about > p::before {
  content: "About";
  font-size: 90px;
  font-weight: bold;
  color: hsl(0, 0%, 83%);
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: -78px;
  left: -50px;
}
.about img {
  width: 200px;
  margin: 20px 0;
  position: relative;
  left: -40px;
  z-index: 1;
}
.about > div {
  width: 900px;
  margin: auto;
  display: flex;
  flex-direction: row;
  border-left: 100px solid ghostwhite;
}
.about span {
  display: block;
  height: 250px;
  width: 300px;
  border-left: 40px solid hsl(179, 59%, 54%);
  border-bottom: 60px solid hsl(179, 59%, 54%);
  position: relative;
  left: -60px;
}
.about span + div {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
/* =======================
  ======== contact ========
  ======================= */
.contact {
  width: 97vw;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: ghostwhite;
}
.contact > p {
  font-size: 19px;
  width: fit-content;
  margin: auto;
  position: relative;
}
.contact > p::before {
  content: "Contact";
  font-size: 90px;
  font-weight: bold;
  color: hsl(0, 0%, 83%);
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: -78px;
  left: -80px;
}
.contact div {
  width: fit-content;
  margin: auto;
  text-align: center;
}
.contact div p:not(p:last-child) {
  font-size: 30px;
  font-weight: bolder;
}
.contact a {
  color: hsl(180, 62%, 55%);
  text-decoration: none;
}
.contact i {
  color: inherit;
}
/* =======================
  ======== footer ========
  ======================= */
footer {
  width: 97vw;
  background-color: hsl(223, 47%, 23%);
  height: 60px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  color: white;
  margin: 0px;
}

/* ============================
  === tablet and small screens ===
  ================================ */
@media (max-width: 650px) {
  header {
    height: 1000px;
  }
  .nav {
    padding: 0px 100px;
  }
  header > div:nth-of-type(3) {
    flex-wrap: wrap;
    width: 97vw;
    flex-direction: row;
    justify-content: center;
  }
  .services > div {
    width: 440px;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(3, 240px);
    row-gap: 0;
  }
  .services > div div:nth-of-type(5) {
    display: grid;
    grid-area: 3/2/4/3;
    align-self: center;
  }
  .portfolio img {
    width: 280px;
  }
  .portfolio > div {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 10px;
    width: 600px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .portfolio div div {
    width: 280px;
  }
  .contact,
  footer {
    min-width: 420px;
  }
  .about > div {
    max-width: 550px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-left-width: 40px;
  }
  .about span + div {
    width: 250px;
  }
}
@media (max-width: 546px) {
  header {
    height: 1300px;
  }
  header > div:nth-of-type(3) {
    margin-top: 100px;
  }
}
/* ==============================
  ========== mobiles ============
  ================================ */
@media (max-width: 375px) {
  .nav {
    padding: 0px 50px;
  }
  header,
  .nav,
  header > div:nth-of-type(2),
  header > div:nth-of-type(2) div {
    min-width: 280px;
  }

  main > div {
    width: 375px;
  }
  main > div > p {
    width: 280px;
  }
  header > div:nth-of-type(3) {
    flex-wrap: nowrap;
    min-width: 280px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .services > div {
    display: flex;
    flex-direction: column;
    width: 280px;
    text-align: center;
  }
  .services > div h3 {
    margin-left: 30px;
  }
  .services > div div:nth-of-type(5) {
    display: block;
  }
  .about span {
    width: 100px;
  }
}
